<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Iniciar sesi칩n</h1>
<<<<<<< HEAD
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="Usuario" required />
    <input type="password" name="password" placeholder="Contrase침a" required />
    <button type="submit">Ingresar</button>
=======
  <form action="/login" method="post">
    <label>Usuario: <input type="text" name="username" required></label><br>
    <label>Contrase침a: <input type="password" name="password" required></label><br>
    <button type="submit">Entrar</button>
  </form>
  <form action="/registro" method="post">
    <h2>Registrarse</h2>
    <label>Usuario: <input type="text" name="username" required></label><br>
    <label>Contrase침a: <input type="password" name="password" required></label><br>
    <button type="submit">Registrarse</button>
>>>>>>> 2_capas
  </form>
</body>
</html>
