<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
         <label for="user">User</label>
         <input type="text" id="user" name="user">
         <br>
         <label for="password">Password</label>
         <input type="password" id="password" name="password">
         <br>
         <button type="submit" value="Enviar">Login</button>
    </form>
</body>
</html>